@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-width: 1000px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	background-color: rgba(128, 0, 128, 0);
	scroll-behavior: smooth;
}

.container {
	width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 20px;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
}

.btn:hover {
	color: gold;
}

.btn-purple {
	border-radius: 5%;
	background-color: rgb(128, 0, 128);
}

/*////////////////////////////// <HEADER> /////////////////////////////////*/
.main-header {
	position: relative;
	min-width: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 15px 15px;

	background-clip: url('../video/istockphoto-1019857898-640_adpp_is.mp4');
	background-size: cover;
	overflow: hidden;
}

.bgvideo {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -9999;
}

.header-body {
	position: relative;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	margin-bottom: 150px;
}

.logo {
	margin-top: 30px;
	font-weight: 700;
	font-size: 50px;
	text-transform: uppercase;
	color: gold;
	-webkit-text-stroke: 0.5px black;
}

.main-menu {
	float: right;
	width: 680px;
	margin-top: 25px;
	display: flex;
	justify-content: flex-end;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu li {
	display: inline-block;
	margin-right: 40px;
	vertical-align: top;
	font-size: 30px;
	line-height: 24px;
}

.main-menu a {
	color: #760d8b;
	text-decoration: none;
}

.main-menu a:hover {
	text-decoration: underline;
}

.main-menu a:active {
	text-decoration: none;
	opacity: 0.3;
}

.promo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.promo-text {
	display: flex;
	width: 350px;
	height: 450px;
	background-color: rgba(117, 29, 136, 0.5);
	border-radius: 10px;
	padding: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.promo-title {
	margin-bottom: 50px;
	font-weight: 400;
	font-size: 40px;
}

.promo-title span {
	color: #dca904;
	margin-bottom: 10px;
}

.promo-logo {
	margin-top: 50px;
	font-size: 79px;
	font-weight: 700;
	color: gold;
	-webkit-text-stroke: 0.5px black;
}

.promo-feature {
	color: #dca904;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 34px;
}

.feature-list {
	margin-bottom: 50px;
}

.feature-item {
	color: #dca904;
	margin-left: 14px;
	font-size: 25px;
	font-weight: 300;
	margin-bottom: 7px;
	list-style-type: circle;
}

/*////////////////////////////// <COMPOSITION-PRODUCT> /////////////////////////////////*/
.composition-product {
	padding: 22px 0 22px;
}

.composition-product__block {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.composition-product__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	font-size: 17px;
}

.composition-product__item img {
	width: 106px;
	height: 110px;
	background-color: rgb(128, 0, 128);
	border-radius: 50%;
}

.composition-product__img {
	display: flex;
	flex-direction: column;
}

.composition-product__line-img {
	display: flex;
	position: relative;
	justify-content: center;
}
.composition-product__line-img img {
	width: 150px;
	height: 200px;
}

.line {
	font-size: 30px;
}

.line1::before {
	content: '____________';
	position: absolute;
	left: -170px;
	top: 20px;
	transform: rotate(30deg);
}

.line2::before {
	content: '__________';
	position: absolute;
	left: -160px;
	top: 110px;
}

.line3::before {
	content: '____________';
	position: absolute;
	left: -180px;
	top: 200px;
	transform: rotate(-30deg);
}

.line4::before {
	content: '____________';
	position: absolute;
	left: 160px;
	top: 20px;
	transform: rotate(-30deg);
}

.line5::before {
	content: '__________';
	position: absolute;
	left: 180px;
	top: 110px;
}

.line6::before {
	content: '____________';
	position: absolute;
	left: 170px;
	top: 200px;
	transform: rotate(30deg);
}

.composition-product__img img {
	margin-bottom: 30px;
}

/*////////////////////////////// <FEEDBACK> /////////////////////////////////*/
.wrapper {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

.slider-track {
	display: flex;
	transition: 0.2s;
	align-items: center;
}

/* .slider-btn {
	text-align: center;
} */

.feedback {
	background: -webkit-linear-gradient(90deg, #5b1a7e, #e57cf8);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #5b1a7e, #e57cf8);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 25px 0 25px;
}

.feedback-container {
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
}

.feedback-container:last-child {
	margin-right: 0px;
}

.feedback-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(117, 29, 136, 0.5);
	border-radius: 10px;
	padding: 10px;
}

.feedback-author {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #dca904;
}
.feedback-author img {
	width: 130px;
	height: 140px;
}

.feedback-content {
	padding: 15px;
}

.feedback-content p {
	color: #dca904;
}

.slick-prev,
.slick-next {
	background-color: rgb(128, 0, 128);
	border: 1px solid gold;
	color: gold;
	border-radius: 10px;
	padding: 10px 15px;
	cursor: pointer;
}

.disabled {
	background-color: rgb(131, 129, 129);
}

/*////////////////////////////// <PROMO> /////////////////////////////////*/
.description {
	padding: 25px 0 25px;
}

.description-block {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.description-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 400px;
	padding: 12px;
	height: 450px;
	background-color: rgba(117, 29, 136, 0.8);
	border-radius: 10px;
}

.description-content p {
	color: #f3ba01;
}

.description-footer__text {
	font-size: 25px;
	color: #af14cd;
}

/*////////////////////////////// <ORDER-FORM> /////////////////////////////////*/
.contacts {
	padding: 25px 0 25px;
}

/*////////////////////////////// <TIMER> /////////////////////////////////*/
.timer__items {
	display: flex;
	font-size: 50px;
}

.timer__item {
	position: relative;
	min-height: 60px;
	min-width: 60px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
}

.timer__item::before {
	content: attr(data-title);
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	margin-bottom: -10px;
	font-size: 14px;
}

.timer__item:not(:last-child)::after {
	color: gold;
	content: ':';
	position: absolute;
	right: -15px;
}

/*////////////////////////////// </TIMER> /////////////////////////////////*/
.orderForm {
	padding: 25px 0 90px;
	background: -webkit-linear-gradient(90deg, #5b1a7e, #e57cf8);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(90deg, #5b1a7e, #e57cf8);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.orderForm-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.orderForm-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.orderForm-img {
	margin-bottom: 15px;
}

.orderForm-price {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.orderForm-newPrice {
	color: gold;
	font-size: 50px;
	margin-bottom: 25px;
}

.orderForm-newPrice:hover {
	font-size: 60px;
}

.orderForm-oldPrice {
	position: relative;
	color: rgb(156, 156, 153);
	font-size: 30px;
}

.orderForm-oldPrice::before {
	border-bottom: 3px solid red;
	position: absolute;
	content: '';
	width: 100%;
	height: 50%;
	transform: rotate(-12deg);
}

.title {
	color: gold;
}

.contacts {
	padding-top: 85px;
	padding-bottom: 65px;
	background-color: #efefef;
}

.contacts .container {
	display: table;
	clear: both;
	content: '';
}

.contacts-form {
	float: left;
	width: 640px;
}

.contacts-form td {
	padding-bottom: 16px;
}

.contacts-form .title {
	width: 90px;
	padding-right: 20px;
	vertical-align: top;
	text-align: right;
	font-weight: 700;
	font-size: 18px;
	line-height: 54px;
}

.contacts-form .field {
	width: 470px;
}

.contacts-form input[type='text'],
.contacts-form input[type='tel'],
.contacts-form textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 13px 23px;
	font-weight: 400;
	font-size: 18px;
	font-family: Arial, sans-serif;
	line-height: 24px;
	outline: none;
	border: 2px solid #b2b2b2;
	border-radius: 2px;
}

.contacts-form input[type='text']:hover,
.contacts-form textarea:hover {
	border: 2px solid #7f7f7f;
}

.contacts-form input[type='text']:focus,
.contacts-form textarea:focus {
	border: 2px solid #b70000;
}

.contacts-form textarea {
	min-height: 105px;
	resize: none;
}

.contacts-form .btn {
	width: 100%;
	border-radius: 3px;
}

.contacts-instruction {
	float: right;
	width: 300px;
}

.contacts-instruction h3 {
	margin: 0;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 24px;
}

.contacts-instruction p {
	margin: 0;
	margin-bottom: 25px;
	color: #404040;
	font-size: 18px;
	line-height: 24px;
}

.contacts-instruction .contacts-alert {
	margin-top: 120px;
}

.contacts-instruction .contacts-alert {
	margin-bottom: 0;
}

.contacts-alert strong {
	color: #ebbebe;
}

.btn-form {
	background-color: rgb(128, 0, 128);
	border: 1px solid gold;
}

/*////////////////////////////// </ORDER-FORM> /////////////////////////////////*/

@media screen and (max-width: 375px) {
	.container {
		width: 100%;
	}
	.logo {
		font-size: 30px;
	}
	.promo-img {
		display: none;
	}
	.description-block {
		display: flex;
		justify-content: space-around;
		margin-bottom: 20px;
		flex-direction: column;
		align-items: center;
	}
	.slider-track {
		width: 400px;
	}
	.slider-btn {
		display: flex;
		justify-content: flex-start;
		margin-left: 120px;
	}
	.feedback-container {
		min-width: 325px;
	}
	.orderForm-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
